.userInfoItem { grid-area: userInfo; }
.logoutItem { grid-area: logout; }
.uploadsTitleItem { grid-area: uploadsTitle; }
.uploadsItem { grid-area: uploads; }
.titleItem { grid-area: title; }
.inputTextItem { grid-area: inputText; }
.fileBrowseItem { grid-area: fileBrowse; }
.encodeItem { grid-area: encode; }
.decodeItem { grid-area: decode; }
.encodedImageTitleItem { grid-area: encodedImageTitle; }
.decodedTextTitleItem { grid-area: decodedTextTitle; }
.encodedImageItem { grid-area: encodedImage; }
.decodedTextItem { grid-area: decodedText; }
.emptyItem { grid-area: empty; }
.formBoxItem { grid-area: formBox; }

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
            'userInfo title title empty'
            'logout formBox formBox empty'
            'uploadsTitle formBox formBox empty'
            'uploads formBox formBox empty'
            'uploads encodedImageTitle decodedTextTitle empty'
            'uploads encodedImage decodedText empty';
}


body {
    font-family: 'Bitter', serif;
}

.thumbnail {
    max-width: 200px;
}


.scroller {
    max-height: 80vh;
    overflow: scroll;
}




